<div>
  <h4>Slice</h4>
  <div class="viewport slice">
    <ul id="sliced">
      <li ng-repeat="thing in awesomeThings|sublist:5:slicePosition" ng-init="theStyle={'padding-left':$index+'px' }">
      <b>+</b><span ng-style="theStyle">{{thing}}</span>
      </li>
    </ul>
    <div sf-scroller="y = 0 to awesomeThings.length" ng-model="slicePosition"></div>
  </div>
  <h4>Real</h4>
  <div class="viewport real">
    <ul>
      <li ng-repeat="thing in awesomeThings" ng-init="theStyle={'padding-left':$index+'px' }">
      <b>+</b><span ng-style="theStyle">{{thing}}</span>
      </li>
    </ul>
  </div>
</div>
