.viewport{
  max-height: 100px;
  border: 1px solid blue;
}
.viewport li{
  background: #eee;
}
.viewport li:nth-child(even){
  background: #ccc;
}

.real{
  overflow: auto;
}
.real ul, .slice ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
